@media screen and (min-width: 320px) {
    body {
        margin: 0;
        min-width: 320px;
    }

    .head_text {
        min-width: 200px;
        font-size: 70px;
    }

    .block {
        min-width: 200px;
        padding-left: 10%;
        padding-right: 10%;
    }

    .second_block {
        min-height: 300px;
        padding-left: 10%;
        padding-right: 10%;
    }

    .title {
        font-size: 40px;
        padding-bottom: 60px;
        padding-top: 40px;
    }

    .subtitle {
        font-size: 20px;
    }

    .text-anim {
        padding: 40px;
        font-size: 14px;
    }

    .text-left-anim {
        display: block;
        text-align: left;
        margin-left: auto;
        margin-right: auto;
        max-width: 600px;
        padding: 0px 20px 0px 20px;
        font-size: 14px;
    }

    .img {
        min-height: 100px;
        max-height: 200px;
    }

    .text {
        padding: 40px 20px 40px 20px;
        min-width: 100px;
        max-width: 300px;
        font-size: 14px;
    }

    .txt {
        padding: 40px 20px 40px 20px;
        min-width: 100px;
        max-width: 300px;
        font-size: 14px;
    }

    .howDoNot_column1 {
        font-size: 20px;
    }

    .column {
        min-width: 100px;
        max-width: 300px;
        padding: 0px 10px 50px 10px;
    }

    .ifIll_index {
        font-size: 20px;
    }

    .contacts {
        min-height: 200px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .img_center {
        max-height: 250px;
    }

    .img_border {
        max-height: 140px;
    }

    .img_border_wide {
        max-height: 100px;
    }
}


@media screen and (min-width: 1366px) {
    body {
        margin: 0;
        min-width: 1366px;
    }

    .head_text {
        min-width: 200px;
        font-size: 90px;
    }

    .block {
        min-height: 500px;
        padding-left: 10%;
        padding-right: 10%;
    }
    
    .second_block {
        min-height: 500px;
        padding-left: 10%;
        padding-right: 10%;
    }

    .title {
        font-size: 50px;
        padding-bottom: 60px;
        padding-top: 60px;
    }

    .subtitle {
        font-size: 24px;
    }

    .text-anim {
        padding: 40px 20px 40px 20px;
        font-size: 18px;
    }

    .text-left-anim {
        text-align: left;
        max-width: 600px;
        padding: 10px 20px 40px 20px;
        font-size: 18px;
    }

    .img {
        min-height: 100px;
        max-height: 200px;
    }

    .question {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 30px;
        min-width: 300px;
        max-width: 800px;
    }

    .text {
        padding: 0px 40px 70px 40px;
        min-width: 100px;
        max-width: 700px;
        font-size: 18px;
    }

    .txt {
        padding: 40px 20px 40px 0px;
        min-width: 700px;
        max-width: 1000px;
        font-size: 24px;
    }

    .howDoNot_column1 {
        font-size: 24px;
    }

    .ifIll_index {
        font-size: 24px;
    }

    .column {
        min-width: 100px;
        max-width: 300px;
        padding: 0px 10px 50px 10px;
    }

    .contacts {
        min-height: 200px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .astra {
        padding: 0px 40px 80px 40px;
        max-height: 200px;
    }

    .img_center {
        max-height: 500px;
    }

    .img_border {
        max-height: 440px;
    }

    .img_border_wide {
        max-height: 390px;
    }
}

@media screen and (min-width: 2560px) {
    body {
        margin: 0;
        min-width: 100%;
    }

    .head_text {
        min-width: 200px;
        font-size: 120px;
    }

    .block {
        min-width: 700px;
        padding-left: 15%;
        padding-right: 15%;
    }

    .second_block {
        min-height: 500px;
        padding-left: 15%;
        padding-right: 15%;
    }

    .title {
        font-size: 50px;
        padding-bottom: 60px;
        padding-top: 60px;
    }

    .subtitle {
        font-size: 40px;
    }

    .text-anim {
        padding: 0px 20px 40px 20px;
        font-size: 24px;
    }

    .text-left-anim {
        text-align: left;
        padding: 0px 20px 40px 20px;
        font-size: 24px;
    }

    .img {
        min-height: 100px;
        max-height: 250px;
    }

    .question {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 30px;
        min-width: 300px;
        max-width: 800px;
    }

    .text {
        padding: 0px 40px 70px 40px;
        min-width: 100px;
        max-width: 700px;
        font-size: 24px;
    }

    .howDoNot_column1 {
        font-size: 24px;
    }

    .ifIll_index {
        font-size: 24px;
    }

    .column {
        min-width: 100px;
        max-width: 300px;
        padding: 0px 10px 50px 10px;
    }

    .contacts {
        min-height: 200px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .img_center {
        max-height: 600px;
    }

    .img_border {
        max-height: 540px;
    }

    .img_border_wide {
        max-height: 500px;
    }
}


* {
    margin: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.scroll {
    position: fixed;
    bottom: 5%;
    right: 3%;
    width: 40px;
    height: 40px;
    background-color: black;
    display: flex;
    text-decoration: none;
    font-size: 50px;
    border-radius: 100%;
    transition: .5s;
    padding: 10px 10px 10px 10px;
    background: url('/img/arrow.png') no-repeat;
    background-size: cover;
}

.scroll:hover {
    background-color: aqua;
}

.header {
    min-height: 40px;
    background-color: rgb(73, 73, 73);
    text-align: center;
}

.link-now {
    display: inline-block;
    background-color: rgb(255, 0, 0);
    border-radius: 5px;
    vertical-align: top;
    padding: 0px 10px 10px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30px;
    font-weight: 100;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
}

.linkOn a {
    display: inline-block;
    color: blue;
    text-align: left;
    border-radius: 5px;
    vertical-align: top;
    padding: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30px;
    font-weight: 100;
    font-size: 24px;
    text-decoration: underline;
}

.link-now a {
    display: inline-block;
    color: aliceblue;
    vertical-align: top;
    padding: 0px 10px 10px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30px;
    font-weight: 100;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
}


.link, .link a {
    display: inline-block;
    color: aliceblue;
    vertical-align: top;
    padding: 0px 10px 10px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30px;
    font-weight: 100;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;

    -webkit-transition: all 0.3s ease;;
    -moz-transition: all 0.3s ease;;
    -o-transition: all 0.3s ease;;
    transition: all 0.3s ease;
}

.link:hover {
    background-color: rgb(255, 0, 0);
    border-radius: 5px;
}

.head {
    background: url(/img/people.jpeg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


.imgPeople {
    background-color: rgba(119, 0, 255, .5);
    min-height: 400px;
}

.head_text {
    color: white;
    text-align: center;
    padding: 120px 0px 0px 0px;
    font-weight: 600;
    opacity: 1;
    text-transform: uppercase;
}

.head_subtitle {
    color: white;
    margin: 0 auto;
    padding-top: 30px;
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    font-weight: 300;
}

.block {
    padding-bottom: 80px;
    background: #fff;
}

.columnH {
    display: inline-block;
    vertical-align: top;
}

.howDoNot_column1, .howDoNot_column2 {
    vertical-align: top;
    text-align: left;
    padding-left: 20px;
    font-weight: 100;
}

.howDoNot_column1::before, .howDoNot_column2::before{
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 4px;
    margin-right: 20px;
    background-color: rgb(119, 0, 255);
}

.howDoNot_should {
    position: relative;
    text-align: center;
    font-weight: 100;
    font-size: 20px;
    padding-top: 40px;
}

.second_block {
    background: rgb(245, 245, 245);
    padding-bottom: 80px;
}

.block_img {
    position: relative;
    padding-top: 6px;
}

.buttons {
    text-align: center;
}

.button {
    vertical-align: middle;
    padding: 15px 15px 15px 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 100;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    position: relative;
    
    margin: 20px 100px 20px 100px;
}

.button._yes {
    background-color: rgb(51, 255, 0);
}

.button._no {
    background-color: rgb(255, 56, 56);
}

.text {
    display: inline-block;
    text-align: left;
    vertical-align: top;
}

.txt {
    display: absolute;
    text-align: left;
    vertical-align: top;
}

.text_center {
    text-align: center;
    font-style: oblique;
    vertical-align: top;
}

.text-anim {
    position: relative;
    vertical-align: middle;
    min-width: 100px;
    font-size: 24px;

    transform: translate(0px, 50%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}

._border {
    border-bottom: 4px dotted red;
}

.text-anim._active {
    transform: translate(0px, 0px);
    opacity: 1;
    transition: all 0.8s ease 0.8s;
}

.webmap, .vaccine {
    color: black;
    padding: 20px 20px 20px 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 20px;
    font-weight: 100;
    font-size: 20px;
    font-style: oblique;
    text-decoration: none;

    -webkit-transition: all 0.3s ease;;
    -moz-transition: all 0.3s ease;;
    -o-transition: all 0.3s ease;;
    transition: all 0.3s ease;
}

.webmap a, .vaccine a {
    font-size: 16px;
    color: black;
    text-decoration: none;
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 20px;
    font-style: oblique;

    -webkit-transition: all 0.3s ease;;
    -moz-transition: all 0.3s ease;;
    -o-transition: all 0.3s ease;;
    transition: all 0.3s ease;
}

.webmap:hover a, .vaccine:hover a {
    color: #fff;
    background: rgb(255, 0, 0);
}

.img_border, .img_border_wide, .img_center {
    margin-bottom: 40px;
    position: relative;
    border: 10px outset;
    border-color: rgb(119, 0, 255);
    
    transform: translate(0px, 50%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}

.img_border._active, .img_border_wide._active, .img_center._active {
    transform: translate(0px, 0px);
    opacity: 1;
    transition: all 0.8s ease 0.4s;
}

.paragraph, .p, .true {
    text-align: left;
    vertical-align: top;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0px 40px 0px;
    min-width: 100px;
    max-width: 600px;
    font-size: 24px;
}

.true {
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: rgb(38, 189, 0);
    padding: 20px 20px 30px 20px;
}

.false {
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: red;
    padding: 20px 20px 30px 20px;
}

.img {
    position: relative;
}


.bold {
    font-weight: 600;
}


.title {
    color: rgb(0, 0, 0);
    text-align: left;
    margin: 0;
    font-weight: 600;
}


.ifIll {
    text-align: center;
}

.column {
    display: inline-block;
    vertical-align: top;
}

.description {
    padding-top: 50px;
    font-style: oblique;
    text-align: center;
}

.subtitle {
    text-align: left;
    padding: 10px;
    font-weight: 600;
}

.ifIll_list {
    padding-top: 20px;

}

.ifIll_index::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    margin-right: 20px;
    background-color: rgb(119, 0, 255);
}

.ifIll_index {
    text-align: left;
    padding: 80px 0px 0px 0px;
    font-weight: 300;
    padding-left: 20px;
    padding-top: 0px;
}

.contacts {
    color: lightgray;
    font-weight: 100;
    padding-top: 60px;
    font-size: 20px;
    text-align: center;
    margin: 0;
    background: rgb(73, 73, 73);
}

a {
    color: lightgray;
    text-decoration: underline;
}

.or {
    padding-left: 20px;
    padding-right: 20px;
}

.contacts_centers {
    padding-top: 40px;
}

.contacts_mozNumber {
    font-size: 25px;
    font-weight: 600;
}