@media screen and (min-width: 320px) {
    body {
        margin: 0;
        min-width: 640px;
    }
    .img_border {
        max-height: 270px;
    }
    .img_border_wide {
        max-height: 200px;
    }
}

@media screen and (min-width: 1024px) {
    html {
        margin: 0;
        min-width: 1024px;
    }
    .img_border {
        max-height: 500px;
    }
    .img_border_wide {
        max-height: 400px;
    }
}

@media screen and (min-width: 1366px) {
    html {
        margin: 0;
        min-width: 1366px;
    }
    .img_border {
        max-height: 500px;
    }
    .img_border_wide {
        max-height: 500px;
    }
}

@media screen and (min-width: 2560px) {
    html {
        margin: 0;
        min-width: 2560px;
    }
    .img_border {
        max-height: 600px;
    }
    .img_border_wide {
        max-height: 600px;
    }
}


* {
    margin: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.header {
    min-height: 40px;
    background-color: rgb(73, 73, 73);
    text-align: center;
}

.link, .link a {
    display: inline-block;
    color: aliceblue;
    vertical-align: top;
    padding: 0px 10px 10px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30px;
    font-weight: 100;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;

    -webkit-transition: all 0.3s ease;;
    -moz-transition: all 0.3s ease;;
    -o-transition: all 0.3s ease;;
    transition: all 0.3s ease;
}

.link:hover {
    background-color: rgb(255, 0, 0);
    border-radius: 5px;
}

.head {
    background: url(/img/people.jpeg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


.imgPeople {
    background-color: rgba(119, 0, 255, .5);
    min-height: 400px;
}

.head_text {
    color: white;
    text-align: center;
    padding: 120px 0px 0px 0px;
    font-size: 90px;
    font-weight: 600;
    min-width: 500px;
    opacity: 1;
    text-transform: uppercase;
}

.head_subtitle {
    color: white;
    margin: 0 auto;
    padding-top: 30px;
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    font-weight: 300;
}

.block {
    padding-bottom: 100px;
    padding-left: 10%;
    padding-right: 10%;
    background: #fff;
    min-height: 700px;
}

.columnH {
    display: inline-block;
    vertical-align: top;
    padding: 0px 100px 50px 100px;
    width: 500px;
}

.howDoNot_column1, .howDoNot_column2 {
    vertical-align: top;
    text-align: left;
    padding-left: 20px;
    font-size: 24px;
    font-weight: 100;
}

.howDoNot_column1::before, .howDoNot_column2::before{
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 4px;
    margin-right: 20px;
    background-color: rgb(119, 0, 255);
}

.howDoNot_should {
    position: relative;
    text-align: center;
    font-weight: 100;
    font-size: 20px;
    padding-top: 40px;
}

.second_block {
    background: rgb(245, 245, 245);
    min-height: 700px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 100px;
}

.block_img {
    position: relative;
    padding-top: 6px;
}

.buttons {
    text-align: center;
}

.button {
    vertical-align: middle;
    padding: 15px 15px 15px 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 100;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    position: relative;
    
    margin: 20px 100px 20px 100px;
}

.button._yes {
    background-color: rgb(51, 255, 0);
}

.button._no {
    background-color: rgb(255, 56, 56);
}

.text {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    padding: 40px 50px 40px 50px;
    min-width: 400px;
    max-width: 800px;
    font-size: 24px;
}

.text-anim {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding: 0px 50px 40px 50px;
    min-width: 400px;
    max-width: 800px;
    font-size: 24px;

    transform: translate(0px, 50%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}

.text-anim._active {
    transform: translate(0px, 0px);
    opacity: 1;
    transition: all 0.8s ease 0.8s;
}

.webmap {
    color: black;
    margin: auto;
    padding: 0px 10px 10px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 20px;
    font-weight: 100;
    font-size: 20px;
    font-style: oblique;
    text-decoration: none;

    -webkit-transition: all 0.3s ease;;
    -moz-transition: all 0.3s ease;;
    -o-transition: all 0.3s ease;;
    transition: all 0.3s ease;
}

.webmap a {
    color: black;
    text-decoration: none;
    color: black;
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 20px;

    -webkit-transition: all 0.3s ease;;
    -moz-transition: all 0.3s ease;;
    -o-transition: all 0.3s ease;;
    transition: all 0.3s ease;
}

.webmap:hover a {
    color: #fff;
    background: rgb(255, 0, 0);
}

.img_border, .img_border_wide {
    margin-bottom: 40px;
    position: relative;
    border: 15px outset;
    border-color: rgb(119, 0, 255);
    
    transform: translate(0px, 50%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}

.img_border._active, .img_border_wide._active {
    transform: translate(0px, 0px);
    opacity: 1;
    transition: all 0.8s ease 0.4s;
}

.paragraph, #p, #true {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    padding: 20px 0px 40px 0px;
    min-width: 400px;
    max-width: 800px;
    font-size: 24px;
}

#true {
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    color: red;
    height: 10px;
    padding: 20px 20px 30px 20px;
}

.img {
    position: relative;
    min-height: 100px;
    max-height: 300px;
}


.bold {
    font-weight: 600;
}


.title {
    color: rgb(0, 0, 0);
    text-align: left;
    margin: 0;
    padding-bottom: 60px;
    padding-top: 60px;
    font-size: 50px;
    font-weight: 600;
    min-width: 400px;
}


.ifIll {
    text-align: center;
}

.column {
    display: inline-block;
    vertical-align: top;
    width: 500px;
    padding: 0px 50px 50px 50px;
}

.description {
    padding-top: 50px;
    font-style: oblique;
    text-align: center;
}

.subtitle {
    text-align: center;
    padding: 0px 0px 0px 0px;
    font-size: 30px;
    font-weight: 300;
}

.ifIll_list {
    padding-top: 20px;
    padding-left: 100px;
}

.ifIll_index::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    margin-right: 20px;
    background-color: rgb(119, 0, 255);
}

.ifIll_index {
    text-align: left;
    padding: 80px 0px 0px 0px;
    font-size: 24px;
    font-weight: 300;
    padding-left: 20px;
    padding-top: 0px;
}

.contacts {
    color: lightgray;
    font-weight: 100;
    padding-top: 60px;
    font-size: 20px;
    text-align: center;
    margin: 0;
    background: rgb(73, 73, 73);
    min-height: 200px;
    padding-left: 15%;
    padding-right: 15%;
}

a {
    color: lightgray;
    text-decoration: underline;
}

.or {
    padding-left: 20px;
    padding-right: 20px;
}

.contacts_centers {
    padding-top: 40px;
}

.contacts_mozNumber {
    font-size: 25px;
    font-weight: 600;
}